body {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
}

#header-row {
  padding-left: 36px;
}

main {
  padding: 2em 0px;
}

.mdl-grid {
  line-height: 0px;
}

.transitive {
  transition: all 600ms ease;
}

.largetext {
  font-size: 1.8em;
}
.xlargetext {
  font-size: 3.2em;
  font-weight: bold;
}
.highlight-text {
  color: #b00;
}

#btn-go, #btn-prize {
  width: 100%;
  height: 2em;
  font-size: 2em;
  margin: 12px 0px;
}
#btn-go.collapse, #btn-prize.collapse {
  height: 0px;
  margin: 0px;
}

#main-card, #list-card, #prize-card {
  width: 100%;
  height: 0px;
  min-height: 0px;
  padding: 0px 0.5em;
  background-color: #dfdfdf;
  font-size: 2em;
  line-height: normal;
}
#main-card.expand {
  height: 12em;
  padding: 0.5em;
}
#main-card.expand-more {
  height: 15em;
  padding: 0.5em;
}
#list-card {
  font-size: 1.3em;
  height: auto;
  max-height: 0px;  /* Ref. http://www.tuicool.com/articles/AFb2ayq */
}
#list-card.expand {
  margin-top: 12px;
  max-height: 8em;
  padding: 1em;
}
#list-card.expand-more {
  margin-top: 12px;
  max-height: 20em; /* unset; */
  padding: 1em;
}
#winner-list {
  margin-top: 0.6em;
}
.winner-list-item {
  height: 0px;
  width: auto;
  background: #cfcfcf;
  padding: 0.25em;
  overflow: hidden;
  font-size: 1.5em;
}
.winner-list-item.odd {
  background: #c0c0c0;
}
.winner-list-item.expand {
  height: 1em;
}
.subtitle {
  overflow: hidden;
  color: #888;
  font-size: 1.4em;
}
#congrats {
  height: 0px;
}
#congrats.expand {
  height: 1.2em;
}
#prize-desc {
  margin-bottom: 0.2em;
}

#info-disp {
  font-size: 2.2em;
  height: 3.5em;
  margin: 0px;
}
#numbers-disp > div {
  height: 1em;
  line-height: normal;
}
#name-disp {
  font-size: 1.2em;
  font-weight: bold;
}

#photo-disp {
  background-size: cover;
  background-position: center;
}

#card-buttons {
  line-height: 0px;
}
#btn-more, #btn-okay {
  height: 2em;
  font-size: 1em;
  margin: 4px;
  min-height: 0px;
  width: 100%;
}
#btn-more.collapse, #btn-okay.collapse {
  height: 0px;
}

#prize-card {
  height: auto;
  max-height: 0px;
}
#prize-card.expand {
  max-height: 2000px;
  padding: 1em;
}
